.formWrapper > form {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  flex-wrap: wrap !important;
  margin: 42px 0 36px 0 !important;
}

.swapButtonContainer {
  height: 60px;
}

.result {
  margin-top: 1em;

  font-size: 1.4em;
  line-height: 2em;
  font-weight: 700;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .formWrapper > form {
    margin: 64px 0 42px 0 !important;
  }

  .result {
    margin-top: 2em;

    font-size: 1.5em;
  }
}
